<header class="header @@mod">
    <div class="container">
        <div class="header__body">
            <div class="header__logo">
                <a href="#">
                    <img src="img/logo/logo.svg" alt="">
                </a>
            </div>
            <div class="header__contacts">
                <a href="#" class="header__contact-item">
                    <img src="img/icons/telegram.svg" alt="">
                </a>
                <a href="#" class="header__contact-item">
                    <img src="img/icons/whatsapp.svg" alt="">
                </a>
                <a href="tel:84952272205" class="header__contact-item header__contact-item--phone">
                    <img src="img/icons/phone.svg" alt="">
                    <span>8 495 227 22 05</span>
                </a>
            </div>
        </div>
    </div>
</header>

